a:visited,
a:active {
  text-decoration: none;
  font: inherit;
  font-family: "Roboto", sans-serif;
}

a:visited,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #2196f3;
}

a {
  text-decoration: none;
}
