body {
  font-family: "Raleway", sans-serif;
}

footer {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 24px 215px;
  background-color: white;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

img[src="./img/WebStudio.png"] {
  font-family: "Raleway", sans-serif;
  display: flex;
  width: 145px;
  height: auto;
}

.contact {
  font-family: "Roboto", sans-serif;
  display: flex;
  gap: 50px;
}
.email {
  font-family: "Roboto", sans-serif;
  display: flex;
  gap: 50px;
}

.main_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: #2f303a;
}
.main_section-title {
  color: white;
  font-size: 65px;
  font-family: "Roboto", sans-serif;
}

.main_section-button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 25px 40px;
  font-size: 20px;
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
}

h3 + p {
  opacity: 0.6;
  margin: 0 0 20px 0;
  font-size: 16px;
}

section + h3 {
  margin: 20px 0px 10px 0;
  font-size: 28px;
}

.second_class {
  height: 60vh;
  align-items: center;
  display: flex;
  gap: 5px;
  font-family: "Roboto", sans-serif;
}

.pair {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.third_class > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
}

.third_class img {
  margin-left: 53px;
}

.third_class {
  height: 70vh;
}

.fourth_class {
  background-color: #f5f4fa;
  text-align: center;
  padding: 40px 0;
  font-family: "Roboto", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer img[src="./img/WebStudio.png"] {
  margin-top: 20px;
  margin: 60px;
  font-family: "Raleway", sans-serif;
}

address {
  gap: 5px;
  margin: 60px;
  color: white;
  font: inherit;
}

footer p {
  gap: 5px;
  margin: 60px;
  color: white;
  opacity: 0.6;
}

.footer {
  background-color: #2f303a;
  padding: 40px 0;
}

.email:hover {
  color: #2196f3;
  cursor: pointer;
}
